:root{
    --soft-blue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --very-dark-blue-main-bg: hsl(217, 54%, 11%);
    --very-dark-blue-card-bg: hsl(216, 50%, 16%);
    --very-dark-blue-line:: hsl(215, 32%, 27%);
    --custom-white: hsl(0, 0%, 100%)
}

@font-face { 
    font-family: Outfit; 
    src: url("../fonts/Outfit-Regular.ttf");
    font-weight: normal; 
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
p {
    margin: 0;
}

img {
    border: 0;
}

ul,li {
	list-style-type: none;
}

body{
    background-color: var(--very-dark-blue-main-bg);
    font-size: 18px;
    font-family: "Outfit";
    font-weight: 300,400,600;
}

.card-container{
    background-color: var(--very-dark-blue-card-bg);
    margin:auto;
    width: 330px;
    height: 575px;
    margin-top: 90px; 
    position: relative;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

#equilibrium-pic{
    margin:auto;
    margin-top: 20px;
    margin-bottom: 0px;
    width: 85%;
    border-radius: 10px;
    position: relative;
}

.overlay-container{
    background-color: hsla(178, 100%, 50%, 0.5);
    position: absolute;
    left: 7.5%;
    top: 20px;
    aspect-ratio: 1/1;
    width: 85%;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

#icon-view{
    width: 50px;
    height: 50px;
}

.overlay-container:hover{
    opacity: 1;
    cursor: pointer;
}

.text-area{
    margin: 20px 25px 0px 25px;
}

.detail-row-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 16px;
}

.value{
    display:flex;
    flex-direction: row;
    align-items: center;
}

.time{
    display:flex;
    flex-direction: row;
    align-items: center;
}

h3{
 color: var(--custom-white);
 font-size: 22px;
}

h4{
    color: var(--soft-blue);
    font-size: 16px;
}

h3:hover{
    color: var(--cyan);
    cursor: pointer;
}

#ethereum-icon{
    height:23px;
    width: 13px;
    margin-right: 5px;
}

#clock-icon{
    height:23px;
    width: 23px;
    margin-right: 5px;
}

.ethereum-value{
    color: var(--cyan);
}

.time-value{
    color: var(--soft-blue);
}

hr{
    margin-top: 20px;
    border-color: var(--soft-blue);
    opacity: 30%;
}

.bottom_line_container{
    display:flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 1rem 0;
}

#image-avatar{
    border: 1px solid white;
    border-radius: 50%;
    height: 35px;
    margin:15px;
    margin-right: 1rem;
}

h5{
    color: var(--soft-blue);
}

.selectable-name{
    color: var(--custom-white);
}

.selectable-name:hover{
    color: var(--cyan);
    cursor: pointer;
}

/* Desktop
@media screen and (max-width: 1440px) {

}


 Mobile
@media screen and (max-width: 375px) {

} */
